[Unit]
Description=Kofora Celery Beat
After=network.target redis.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/kofora/backend
EnvironmentFile=/var/www/kofora/backend/.env
ExecStart=/var/www/kofora/venv/bin/celery -A kofora_backend beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
Restart=always

[Install]
WantedBy=multi-user.target
